.first {
  background-color: azure;
  height: 70vh;
  background: url("/background.jpg") center no-repeat;
  background-size: cover;
}
.center {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 4%;
}
.center > h1{
  padding: 10px;
  margin: 0;
  text-align: left;
  color: white;
  border: .5px white solid;
}
.para {
  word-wrap: normal;
  width: 20%;
  font-size: 1.5rem;
  padding: 0px 0 0 0;
  color: black;
  align-self: flex-end;
}
@media only screen and (max-width: 900px) {
  .para {
    width: 36%;
    color: white;
    align-self: flex-start;
  }
}