.first {
  background-color: azure;
  height: 70vh;
  background: url("/background.jpg") center no-repeat;
  background-size: cover;
}
.center {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5%;
}
.center > h1{
  padding: 5px;
  margin: 0;
  /* box-shadow: 5px 2px 5px 1px rgba(0, 0, 0, 0.335); */
}
.para {
  word-wrap: normal;
  width: 30%;
  font-size: 1.5rem;
  box-shadow: 10px 25px 10px 2px rgba(0, 0, 0, 0.335);
  padding: 5px;
}