.subtitulo {
  height: 20vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitulo h3 {
  padding: 0;
  margin: 2px;
  font-size: 1.8rem;
}
/* .subtitulo p {
  text-align: center;
} */
.center {
  height: 70%;
  text-align: center;
}
@media only screen and (max-width: 900px) {
  .subtitulo h3 {
    font-size: 1.25rem;
  }
}