.footer {
  height: 30vh;
  display: flex;
  flex-direction: column;
}
.footerDiv {
  display: grid;
  grid-template-columns: 35% auto auto 15% 15%;
  grid-template-rows: 1;
  height: 100%;
}
.story {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}
.more {
  text-align: center;
  height: 5vh;
}
.more > a {
  text-decoration: none;
  color: black;
}
.anchor {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 900px) {
  .footer {
    height: auto;
  }
  .footerDiv {
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .more {
    height: none;
    font-size: 0.75rem;
  }
}