.nav {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 10% auto 50%;
  max-height: 10vh;
  font-size: 1.25rem;
  margin-bottom: -1px;
}
.listRight {
  grid-column: 3 / span 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item {
  display: inline;
}
.anchor {
  text-decoration: none;
  color: black;
}
.left {
  grid-column: 1 / span 1;
  display: flex;
  justify-content: center;
}
.logo {
  height: auto;
}
.logo:hover {
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .nav {
    grid-template-columns: 20% auto;
    font-size: 0.9rem;
  }
  .left {
    padding-left: 5%;
  }
  .logo {
    width: 75px;
  }
}
