.producto {
  background-color: whitesmoke;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.title {
  font-size: 2rem;
}