.main {
  background-color: whitesmoke;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 2rem;
}
.info {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}